<div class="navbar">
	<ul id="nav">
		<h1>All Projects</h1><br/>
			<table border="2" bordercolor="black">
  			<tr>
    			<th>Project name</th>
    			<th>Project date</th>
    			<th>Project status</th>
  			</tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= project.project_date %></td>
    <td><%= project.project_status %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%= link_to 'Back', employee_login_show_path %></h3>
</ul>
</div>
